<!DOCTYPE html>

<html>
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href='<%= cssFile %>'>
    <link rel="stylesheet" type="text/css" href="<%= navCSS %>">

    <% if (user !== undefined) { %>
    <meta name='username' content='<%= user.username %>'>

    <% } %>

    <% if (bid !== undefined) { %>
    <meta name='bid' content='<%= bid %>'>

    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>

        <ul class="nav">
        <li class="nav-board">
            Boards
        </li>
        <li class='nav-home'>Home</li>
        <li id='navbar-logo'>Prello</li>
        <li class="menu clickable">
            Menu
        </li>
        <li class='sign-out clickable'> <%=signIn%> </li>
    </ul>

    <div class='nav-board-menu'>
        <input class='nav-board-finder' type='text' placeholder="Find Board..">
        <h3>Boards</h3>
        <% if(boards !== undefined) { %>

        <div class='nav-board-buttons'>
            <% console.log(user) %>
            <% for(var x=0; x < boards.length; x++) { %>
                <form>
                    <button class='board' formaction="/board/<%=boards[x]._id%>" formmethod="GET"> <%=boards[x].title%> </button>
                </form>
            <% } %>
        <% } %>
        </div>
        <input class='nav-create-text' type='text' placeholder="Board Name..">
        <button class='nav-create-board'>Create New Board...</button>
    </div>

    <div class='main'>

    <div class='no-access-msg'>
        <img class='no-access-img' src="https://static.tumblr.com/d3b9810018f6a3efbdde5e8837f315d6/h1ooh7j/zB1nra9bh/tumblr_static_1hubbwqgjl8gw4g40www088o_640_v2.png">
        <h2>You must be a board member to view this board</h2>
        <form>
            <button formaction="/boards" formmethod="GET">Go to Home Page </button>
        </form>
    </div>

</div>


<script src='/javascripts/navbar.js'></script>
<%- include footer.ejs %>
